:root {
  --button-color: #42A5F5;
  --dark-bg: #1E1E1E;
  --dark-bg-light: #2A2A2A;
  --light-text: #ffffff;
  --border-radius: 8px;
}

.calendar-page {
  background-color: var(--dark-bg-light);
  color: var(--light-text);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: 80vh;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-name {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  background-color: #f0f0f0;
  border: none;
}


.calendar-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.calendar-day {
  background-color: var(--dark-bg-light);
  color: var(--light-text);
  border: 2px solid var(--button-color);
  border-radius: var(--border-radius);
  padding: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 60px;
}

.calendar-day.prev-month {
  color: #7c7c7c;
  background-color: #373737;
  cursor: default;
}
.calendar-day:hover {
  transform: scale(1.05);
}

.task-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.task-content {
  background-color: var(--dark-bg-light);
  color: var(--light-text);
  padding: 20px;
  border-radius: var(--border-radius);
  width: 650px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  height: 80vh; 
  overflow-y: auto; 
}

.task-content ul {
  list-style: none;
  padding: 0;
  flex: 1; 
}

.task-content ul li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--button-color);
  border-radius: var(--border-radius);
  position: relative; /* Added for button positioning */
}

.close-btn,
.add-task-btn {
  background-color: var(--button-color);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: var(--light-text);
  transition: background-color 0.3s ease;
}

.nav-btn {
  background-color: var(--button-color);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: var(--light-text);
  transition: background-color 0.3s ease;
  margin: 40px;
  margin-top: 0px;
}

.close-btn:hover,
.nav-btn:hover,
.add-task-btn:hover {
  background-color: #358bb7;
}

.day-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-bg-light);
  padding: 10px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}

.current-date {
  font-size: 1.5rem;
  color: var(--button-color);
  font-weight: bold;
  margin-top: -10px; /* Adjust this value as needed */
}

.task-list-container {
  flex: 1; 
  overflow-y: auto; 
  margin-bottom: 20px;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #444;
  color: var(--light-text);
}

.task-item:last-child {
  border-bottom: none;
}

.task-time {
  width: 20%;
  color: #ccc;
}

.task-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.task-goal {
  font-weight: bold;
  margin-bottom: 5px;
}

.task-description {
  text-align: center;
}

.no-task {
  text-align: center;
  font-style: italic;
  color: #888;
}

.add-task-form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.add-task-form input,
.add-task-form select {
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.done-btn {
  background-color: #00c313;
  border: none;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  color: var(--light-text);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.done-btn:hover {
  background-color: #358bb7;
}

.calendar-day-with-tasks {
  color: var(--dark-bg);
  font-weight: bold;
}
.day-number {
  z-index: 1;
  position: relative;
  color: var(--light-text);
}

.toggle-delete-btn,
.close-btn {
  background-color: var(--button-color);
  color: var(--light-text);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 10px; 
}

.toggle-delete-btn:hover,
.close-btn:hover {
  background-color: #358bb7;
}

.delete-task-btn {
  background-color: #ff4d4d;
  color: var(--light-text);
  border: none;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  position: relative; /* Added for button positioning */
  z-index: 1; /* Added to ensure it's on top */
}

.delete-task-btn:hover {
  background-color: #ff3333;
}

.task-content > button { 
  margin-top: auto; 
  margin-bottom: 10px; 
}
.task-color-container {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: calc(100% - 30px); /* Increased the subtracted value */
}

.task-color-block {
  height: 8px;
  border-radius: 4px;
  background-color: currentColor;
  flex: 1;
  min-height: 2px;
}


.undo-btn {
  background-color: var(--button-color);
  border: none;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  color: var(--light-text);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.undo-btn:hover {
  background-color: #358bb7;
}

.uncheck-btn {
  background-color: var(--button-color);
  border: none;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  color: var(--light-text);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  position: relative; /* Added for button positioning */
  z-index: 0; /* Added to ensure it's below delete button */
}

.uncheck-btn:hover {
  background-color: #358bb7;
}

.task-item-container {
  display: flex;
  align-items: center;
}
.example-data-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.example-data-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.example-data-buttons button:hover {
  background-color: #45a049;
}
.suggest-schedule-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--light-text);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggest-schedule-btn:hover {
  background-color: #358bb7;
}
.current-day {
  background-color:var(--button-color);
  border: 2px;;
}
