.add-task-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.add-task-popup-content {
  background-color: var(--dark-bg-light);
  color: var(--light-text);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.add-task-form input,
.add-task-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.add-task-form button {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.add-task-form button:hover {
  background-color: #358bb7;
}
